@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="jumbotron text-center bg-primary text-light">
    <h1 class="display-4">Filmowo</h1>
    <p>Filmy i nie tylko.</p>
</div>
